PORT=5000
DB_PORT=34395
DB_HOST=hopper.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=DPyTzjIKVsSdckCiZUNvbhVrwiFjxqQf
DB_NAME=railway
JWT_SECRET=prelaunch_secret_key_9988
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_NAME=Trade Crypto
FROM_EMAIL=
FRONTEND_URL=https://tradebalance.de
NODE_ENV=development
